

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
  --color-primary: #B68A0F;
  --color-secondary:  #66644E;
  --color-tertiary: #A3545Cff;
  --color-secondary-light: #E6BB62ff;
  --color-white: #E8DFD4ff;
  --color-faded: #CAD2E2;
  --color-light: #c3b39f;

  --black-olive: #393A32ff;
  --lion: #B59675;
  --black-olive-2: #3F3F32ff;
  --black-olive-3: #4A4A3Fff;
  --coyote: #73614Aff;
  --black-olive-4: #323326ff;
  --walnut-brown: #756859ff;
  --french-gray: #C9D1E1ff;
  --timberwolf: #DBD6D1ff;
  --black-olive-5: #2B2B23ff;x

}


body {
  font-family: 'PT Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--color-secondary);
}

button, input, select, textarea {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 3.4em;
  line-height: 1.1;
  margin-block: 1em;
}

h2 {
  margin-block: 2.3em;
}

h3 {
  margin-block: 1.6em;
}

h4 {
  margin-block: 1.33em;
}

p {
  font-size: 1.2em;
  margin-block: 0.5em;
}

img {
  width: 100%;
}

figure {
  margin: 0 0 2em 0;
}

figcaption {
  text-align: right;
  font-size: 0.9em;
}

a,
a:visited {
  color: var(--color-faded);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}