.header {
    color: white;
    background-color: var(--color-secondary);

}

.header img {
    width: 500px;
}

.header h1 {
    font-family: "Rock Salt";
    font-size: 100px;

}

.section-home-branding {
    background-color: var(--color-light);
    text-align: center;
    font-family: "Caveat Variable", cursive;
}

.section-home-branding p {
    font-size: 1.3em;
    background-color: var(--color-light);
    font-family: "Merriweather Sans Variable";
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}